* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.app{
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.title{
    text-align: center;
    padding: 14px;
    background-color: #2d6a4f;
    color: white;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.container{
    position: relative;
    flex: 1;

}

/* Form Overlay
